* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 13px;
}
header {
  background: #3b3f42;
  color: #fefefe;
}
h1 a {
  color: #f24c27;
  font-size: 40px;
  font-weight: 700;
}
h1 a:hover {
  color: #f24c27;
  text-decoration: none;
}
h1 a .angle-brackets {
  color: #56b9d0;
  font-size: 40px;
  font-weight: 700;
}
h1 a .light-span {
  font-size: 40px;
  font-weight: 300;
  color: #fefefe;
}
header nav {
  text-align: right;
}
header nav a {
  color: #56b9d0;
  font-size: 20px;
  display: inline-block;
  padding: 30px 20px;
  text-transform: uppercase;
  transition: color 0.4s;
}
.active {
  color: #fbba42;
}
header nav a:hover {
  color: #fbba42;
  text-decoration: none;
}
img {
  max-height: 600px;
}
