//Colors:

blue = #56B9D0
white = #FEFEFE
orange = #FBBA42
red = #F24C27
grey= #3B3F42


//End Colors

*
	margin 0
	padding 0
	border 0
	font-family 'Ubuntu' , sans-serif
	font-weight 400
	font-size 13px
header
	background grey
	color white

h1 a
	color red
	font-size 40px
	font-weight 700

h1 a:hover
	color red
	text-decoration none

h1 a  .angle-brackets
	color blue
	font-size 40px
	font-weight 700

h1 a  .light-span
	font-size 40px
	font-weight: 300
	color white


header nav
	text-align right

header nav  a
	color blue
	font-size 20px
	display inline-block
	padding 30px 20px
	text-transform uppercase
	transition color 0.4s

 .active
	color orange
header nav a:hover
	color orange
	text-decoration none


img
	max-height 600px
