//Colors:

blue = #56B9D0
white = #FEFEFE
orange = #FBBA42
red = #F24C27
grey= #3B3F42


//End Colors

body
	background white
	font-family 'Ubuntu' , sans-serif
a
	text-decoration none
a:hover
	text-decoration none
h1 a
	display block
	color red
	font-weight bold
h1 a .angle-brackets
	color blue
	font-weight bold
h1 a .logo-workroom
	color white
	font-weight normal
.navbar
	background grey
.nav-item a
	color blue
	text-transformation uppercase
